@model AccountInfo[]

<h2>Uploads</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Account</th>
            <th>Devices</th>
            <th>Last Exported</th>
            <th>Times Exported</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var info in Model)
        {
            <tr>
                <td>@Html.ActionLink(info.Account.Name, "Records", new { id = info.Account.Id }, null)</td>
                <td>@string.Join(", ", info.Account.Devices.Select(d => d.Name))</td>
                <td>@info.LastExported</td>
                <td>@info.TimesExported</td>
            </tr>
        }
</table>

