@model DeviceInfo[]

<h2>Uploads</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Device</th>
            <th>Last Exported</th>
            <th>Times Exported</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var info in Model)
        {
            <tr>
                <td>@Html.ActionLink(info.Device.Name, "Records", new { id = info.Device.Id }, null)</td>
                <td>@info.LastExported</td>
                <td>@info.TimesExported</td>
            </tr>
        }
</table>

